/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */
.go-flex {
    display: flex;
}

/* altezza delle due sezioni principali in vh */
aside,
main {
    /* (30 in più è il padding del footer) */
    height: calc(100vh - 130px);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.margin-special {
    margin-right: 15px;
}

img {
    width: 100%;
    display: block;
}

.yellowgreen {
    background-color: yellowgreen;
}

h2 {
    font-size: 30px;
    margin-top: 30px;
}

h4 {
    color: grey;
    padding-top: 15px;
}

h3 {
    font-size: 20px;
    padding-top: 15px;
}

h5 {
    color: #5A5A5A;
    font-size: 15px;
}

i {
    color: #5A5A5A;
}

.change-color:hover {
    color: white;
}

.circle {
    border-radius: 50%;
    background-color: white;
    height: 15px;
    width: 15px;
    position: relative;
    left: calc(100% - 15px);
    bottom: 50%;
    display: none;
}

/* ASIDE */
aside {
    color: grey;
    background-color: black;
    width: 250px;
    position: relative;
}

aside .playlist>div:first-of-type div {
    display: inline-block;
}

aside>div:last-child {
    padding-left: 15px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 15px);
}

.logo-image div {
    padding: 15px;
    width: 170px;
    margin: 0 auto 20px auto;
}

.logo-hidden {
    width: 50px;
    margin: 0 auto;
    display: none;
}

aside nav:first-of-type h3 {
    color: #5A5A5A;
}

.home div {
    border-left: 4px solid yellowgreen;
}

.home div,
.search div,
.library div {
    padding: 5px 0 5px 15px;
    width: 55px;
}

.home a>*,
.search a>*,
.library a>* {
    display: inline-block;
    vertical-align: middle;
}

.playlist {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.playlist>* {
    margin-bottom: 10px;
}

.playlist h3 {
    color: white;
}

.add-playlist {
    width: 40px;
    height: 40px;
    background-color: #5A5A5A;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
}

.add-playlist a {
    color: black;
}

.add-playlist,
.add-playlist+div {
    vertical-align: middle;
}

.add-playlist+div a {
    color: #5A5A5A;
}

.playlist-names {
    height: 250px;
    overflow-y: auto;
}

.playlist-names>* {
    padding: 10px 0 10px 0;
}

.playlist-names a {
    color: #5A5A5A;
    font-weight: bold;
}

.end-aside>*:not(hr) {
    padding: 10px 0;
}

hr {
    width: 100%;
}

.end-aside .img-download {
    width: 20px;
}

.end-aside>div:first-child>a *,
.end-aside>div:last-child>a * {
    display: inline-block;
}

.end-aside>div:first-child>a * {
    vertical-align: middle;
}

.end-aside>div:last-child>* {
    vertical-align: bottom;
}

.end-aside h4 {
    color: #5A5A5A;
    font-size: 20px;
}

.end-aside>div:last-child>a div {
    width: 25px;
    height: 25px;
    background-color: #5A5A5A;
    border-radius: 50%;
    margin-right: 8px;
    padding-top: 2px;
    padding-left: 3px;
}

.end-aside>div:last-child>a div:first-child img {
    width: 18px;
    margin: 0 auto;
}

/* MAIN */
main {
    overflow-y: auto;
    color: white;
    background-color: #141922;
    width: calc(100% - 250px);
}

main .upgrade-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    background-color: #080B12;
    position: fixed;
    width: calc(100vw - 250px);
    padding: 15px;
}

.upgrade-bar>a {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px 25px;
    display: inline-block;
}

main>.main-section {
    margin-top: 100px;
    padding: 20px;
}

main ul li {
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
}

main nav.go-flex {
    justify-content: center;
}

main nav a {
    color: grey;
}

main nav ul li a+div {
    margin: 0 auto;
    width: 50px;
    height: 4px;
}

.recently-played>.go-flex,
.created-for-you>.go-flex,
.popolar-artists>.go-flex {
    margin: 0 -10px;
}

.recently-played>.go-flex {
    flex-wrap: wrap;
}

.recently-played h4 {
    margin-bottom: 15px;
}

.recently-played h2 {
    margin-bottom: 30px;
}

.main-section nav~section .card {
    text-align: center;
    width: calc((100% / 6) - 20px);
}

.card a div {
    position: relative;
}

.hidden-input.fa-circle-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.main-section nav~section .card a {
    color: white;
}

.recently-played>.go-flex>*,
.created-for-you>.go-flex>*,
.popolar-artists>.go-flex>* {
    margin: 0 10px;
}

.created-for-you h4,
.popolar-artists h4 {
    margin-bottom: 30px;
}

.popolar-artists div>img {
    border-radius: 50%;
}

/* FOOTER */
footer {
    color: white;
    background-color: #282828;
    position: fixed;
    width: 100%;
}

footer>section:first-child {
    padding: 15px;
}

footer>section:first-child>.go-flex {
    /* altezza footer */
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.volume,
.track-playing {
    align-items: center;
    width: 25%;
}

.controls {
    width: 50%;
}

.track-playing {
    text-align: left;
}

.track-playing>div:first-child {
    width: 80px;
    height: 80px;
}

.volume {
    text-align: right;
}

.volume .bar-volume {
    border-radius: 20px;
    flex-grow: 1;
    background-color: #5A5A5A;
}

.bar-volume div .circle {
    display: none;
}

.bar-volume>div {
    width: 30%;
    height: 5px;
    border-radius: 20px;
    background-color: #C3C6D1;
}

.controls {
    text-align: center;
    width: 50%;
}

.controls>.go-flex {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.bar-song {
    width: 70%;
    border-radius: 20px;
    background-color: #5A5A5A;
}

.bar-song>div:first-child {
    width: 30%;
    height: 5px;
    border-radius: 20px;
    background-color: #C3C6D1;
}

.margin-special>a {
    color: #5A5A5A;
}

/* HOVER */
main nav.go-flex a:hover,
.change-color:hover {
    color: white;
}

.upgrade-bar a:hover {
    transform: scale(1.2);
}

.card:hover img {
    filter: opacity(20%);
}

.card:hover .hidden-input.fa-circle-play {
    display: block;
}

.bar-song:hover .circle,
.bar-volume:hover .circle {
    display: block;
}

.bar-song:hover div:first-child:not(.circle),
.bar-volume:hover div:first-child:not(.circle) {
    background-color: yellowgreen;
}

.underline:hover {
    text-decoration: underline;
    color: white;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1110px) {

    .main-section nav~section .card {
        width: calc((100% / 4) - 20px);
    }

    .main-section nav ul li {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 700px) {

    .main-section nav~section .card {
        width: calc((100% / 2) - 20px);
    }

    .main-section nav ul li {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 600px) {

    aside {
        width: 60px;
    }

    main {
        width: calc(100% - 60px);
    }

    main .upgrade-bar {
        width: calc(100vw - 60px);
    }

    .home div,
    .search div,
    .library div {
        padding: 0;
        width: 40px;
    }

    footer .margin-special+.go-flex {
        display: block;
    }

    aside .logo-image {
        display: none;
    }

    .logo-hidden {
        margin-bottom: 20px;
        padding-top: 5px;
        display: block;
    }

    aside .playlist {
        display: none;
    }

    aside .home h3 {
        display: none;
    }

    aside .library h3 {
        display: none;
    }

    aside .search h3 {
        display: none;
    }

    aside .home div {
        border: none;
    }

    aside .end-aside a .img-download+h5 {
        display: none;
    }

    aside .end-aside div:last-child div+h4 {
        display: none;
    }

    hr {
        display: none;
    }

}