/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL */
.go-flex {
    display: flex;
}

/* altezza delle due sezioni principali in vh */
aside,
main {
    /* (30 in più è il padding del footer) */
    height: calc(100vh - 130px);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.margin-special {
    margin-right: 15px;
}

img {
    width: 100%;
    display: block;
}

/* ASIDE */
aside {
    color: grey;
    background-color: black;
    padding: 15px;
    width: 250px;
    position: relative;
}

aside .playlist>div:first-of-type div {
    display: inline-block;
}

aside>div:last-child {
    position: absolute;
    bottom: 0;
    /* (100% - 30px) perchè questi px sono i pading sx/dx */
    width: calc(100% - 30px);
}

/* MAIN */
main {
    overflow-y: auto;
    color: white;
    background-color: #141922;
    width: calc(100% - 250px);
}

main .upgrade-bar {
    height: 100px;
    background-color: #080B12;
    position: fixed;
    width: 100%;
}

main>.main-section {
    margin-top: 100px;
    padding: 20px;
}

main ul li {
    display: inline-block;
}

.recently-played>.go-flex,
.created-for-you>.go-flex,
.popolar-artists>.go-flex {
    margin: 0 -10px;
}

.main-section nav~section .card {
    width: calc(100% / 6);
    /* debug */
    height: 200px;
    background-color: red;
}

.recently-played>.go-flex>*,
.created-for-you>.go-flex>*,
.popolar-artists>.go-flex>* {
    margin: 0 10px;
}

/* FOOTER */
footer {
    color: white;
    background-color: #282828;
    position: fixed;
    width: 100%;
}

footer>section:first-child {
    padding: 15px;
}

footer>section:first-child>.go-flex {
    /* altezza footer */
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.volume,
.track-playing {
    align-items: center;
    width: 15%;
}

.track-playing {
    text-align: left;
}

.track-playing>div:first-child {
    width: 80px;
    height: 80px;
}

.volume {
    text-align: right;
}

.volume .bar-volume {
    border-radius: 20px;
    flex-grow: 1;
    background-color: #5A5A5A;
}

.bar-volume>div {
    width: 30%;
    height: 5px;
    border-radius: 20px;
    background-color: #C3C6D1;
}

.controls {
    text-align: center;
    width: 50%;
}

.controls>.go-flex {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.bar-song {
    width: 70%;
    border-radius: 20px;
    background-color: #5A5A5A;
}

.bar-song>div {
    width: 30%;
    height: 5px;
    border-radius: 20px;
    background-color: #C3C6D1;
}

@media screen and (max-width: 1110px) {}

@media screen and (max-width: 700px) {}

@media screen and (max-width: 600px) {}